/plugins/19658/nbproject/private/
/plugins/19658/build/
/plugins/19658/dist/
/plugins/1234/nbproject/private/
/plugins/1234/build/
/plugins/1234/dist/
doclist
cloclist
loc-doc.txt
loc.txt
/nbproject/private/
/build/
build.xml
/dist/
/plugins/22570-algem-plugins/nbproject/private/
/nbproject/
