# Plugins build patterns
/plugins/**/nbproject/
/plugins/**/nbbuild.xml
/plugins/**/manifest.mf
/plugins/**/dist/

# Build patterns
/nbproject/
/build/
build.xml
/dist/
.idea
/target/

# Files
manifest.mf
preview-application.html
master-application.jnlp
doclist
cloclist
loc-doc.txt
loc.txt
.attach*
